### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.DS_Store
config-modules.iml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
.eggs/
sdist/
var/
wheels/
*.egg-info/
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Sphinx documentation
.doctrees/

# python virtual env
env/
