pyVmomi==7.0.3

requests~=2.32.2; python_version>="3.8"
requests~=2.31.0; python_version<="3.7"

pyOpenSSL~=24.1.0

lxml~=5.2.2

# Pinning to old version because of problem with build system dependencies
#jsonschema~=4.22.0; python_version>="3.8"
#jsonschema~=4.17.3; python_version<="3.7"
jsonschema~=4.17.3

#some VCF release doesn't have the updated ssl lib required by Urllib3 2.0.x. Urllib3 1.26.19 is validated to work properly
urllib3~=1.26.19
